[package]
name = "tradingview-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rust_socketio = { version = "0.4.1-alpha.1", features = ["async"] }
rand = "0.8.5"
