[package]
name = "tradingview-rs"
authors = ["Nguyen Thanh Dat <dat.nguyen@bitbytelab.io>"]
version = "0.0.1"
edition = "2021"
license = "MIT"
repository = "https://github.com/bitbytelabio/tradingview-rs"
readme = "README.md"
description = "Tradingview datafeed api `tradingview-rs` project."

[lib]
name = "tradingview"
path = "src/lib.rs"

[features]
user = ["dep:google-authenticator"]

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }
reqwest = { version = "0.11", features = [
    "rustls-tls",
    "json",
    "blocking",
    "gzip",
    "deflate",
    "cookies",
    "multipart",
] }
lazy_static = "^1.4"
url = "^2"
urlencoding = "^2"
rand = "^0.8"
regex = "^1"
tokio-tungstenite = { version = "^0.20", features = [
    "rustls-tls-webpki-roots",
] }
tracing = "0.1"
thiserror = "^1.0"
futures-util = { version = "0.3", default-features = false, features = [
    "sink",
    "std",
] }
async-trait = "^0.1"
iso_currency = { version = "0.4", features = ["with-serde"] }
zip = "^0.6"
base64 = "^0.21"
rayon = "^1"
google-authenticator = { version = "^0.4", optional = true }
chrono = { version = "0.4.31", features = ["serde"] }

[dev-dependencies]
polars = { version = "^0.33" }
criterion = { version = "0.5", features = ["html_reports"] }
anyhow = "1"
protobuf = "3"
dotenv = "0.15.0"
tracing-subscriber = "0.3"


[[bench]]
harness = false
name = "utils"
